In [1]:
import numpy as np
import glob, os 
import pandas as pd
import re
from tqdm import tqdm
df = pd.DataFrame(columns=("name","sub_folder","file_name","NOUSE","Face_x","Face_y","Frame_width","Frame_height","NOUSE2","NOUSE3"))
os.chdir("frame_images_DB")
for file in tqdm(glob.glob("*.txt")):
    f = open(file, "r")
    fileContents = f.read()
    test = fileContents.split('\n')
    df_temp = pd.DataFrame(columns=("name","sub_folder","file_name","NOUSE","Face_x","Face_y","Frame_width","Frame_height","NOUSE2","NOUSE3"))
    try:
        for i in range(len(test)-1):
            df_temp.loc[i] = re.split(r'[`\=~!@#$%^&*()+\[\]{};\'\\:"|<,/<>?]', test[i])    
        df=df.append(df_temp)
    except:
        print(test)

100%|██████████| 3083/3083 [23:43<00:00,  2.16it/s]

In [10]:
df.head(5)

,name,sub_folder,file_name,NOUSE,Face_x,Face_y,Frame_width,Frame_height,NOUSE2,NOUSE3
0,Hank_Aaron,5,5.55.jpg,0,177,74,43,43,0.0,1
1,Hank_Aaron,5,5.56.jpg,0,177,74,43,43,0.0,1
2,Hank_Aaron,5,5.57.jpg,0,177,74,43,43,0.0,1
3,Hank_Aaron,5,5.58.jpg,0,177,74,43,43,0.0,1
4,Hank_Aaron,5,5.59.jpg,0,177,74,45,45,0.0,1

In [8]:
# df.reset_index().drop(columns=['index'])
df.to_csv("labeled.csv")

In [ ]:
# f = open("frame_images_DB/Aaron_Eckhart.labeled_faces.txt", "r")
# fileContents = f.read()
# test = fileContents.split('\n')
# df = pd.DataFrame(columns=("name","sub_folder","file_name","NOUSE","Face_x","Face_y","Frame_width","Frame_height","NOUSE2","NOUSE3"))
# for i in range(len(test)-1):
#     df.loc[i] = re.split(r'[`\-=~!@#$%^&*()+\[\]{};\'\\:"|<,/<>?]', test[i])

In [3]:
import pandas as pd
df = pd.read_csv("labeled.csv")

In [4]:
df.head(5)

,Unnamed: 0,name,sub_folder,file_name,NOUSE,Face_x,Face_y,Frame_width,Frame_height,NOUSE2,NOUSE3
0,0,Hank_Aaron,5,5.55.jpg,0,177,74,43,43,0.0,1
1,1,Hank_Aaron,5,5.56.jpg,0,177,74,43,43,0.0,1
2,2,Hank_Aaron,5,5.57.jpg,0,177,74,43,43,0.0,1
3,3,Hank_Aaron,5,5.58.jpg,0,177,74,43,43,0.0,1
4,4,Hank_Aaron,5,5.59.jpg,0,177,74,45,45,0.0,1

## Check out size of pre-cropped faces

In [5]:
df['Frame_width'].min()

24

In [6]:
df['Frame_height'].min()

24

In [7]:
df['Frame_width'].max()

294

In [9]:
df[(df['name']=='Aaron_Eckhart')&(df['file_name']=="0.555.jpg")]

,Unnamed: 0,name,sub_folder,file_name,NOUSE,Face_x,Face_y,Frame_width,Frame_height,NOUSE2,NOUSE3
373341,0,Aaron_Eckhart,0,0.555.jpg,0,237,137,84,84,0.0,1

In [10]:
(237-84/2,237+84/2,137-84/2,137+84/2)

(195.0, 279.0, 95.0, 179.0)